body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #22343d;
  background-color: white;
}

/* reset */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/* common */

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */

header {
  background-color: white;
}

.header-container {
  display: flex;
  justify-content: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

header {
  background-color: white;
  margin-bottom: 25px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 237px;
  padding: 22px 0;
}

.logo-icon {
  width: 40px;
  height: 36px;
}

.logo-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 93%;
  color: #173a56;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 73px;
}

.nav-link {
  display: block;
  padding: 26px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #22343d;
  transition: transform 0.3s ease, font-weight 0.3s ease;
}

.nav-link .current {
  position: relative;
}

.nav-link:hover {
  transform: scale(1.1);
  font-weight: 500;
}

.sign-btn-list {
  display: flex;
  align-items: center;
  gap: 21px;
}

.sign-in-btn-item {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 105px;
  height: 42px;
}

.sign-up-btn-item {
  border-radius: 4px;
  width: 113px;
  height: 42px;
  background-color: #02897a;
}

.sigh-in-btn {
  display: inline-block;
  padding: 9px 24px;
  text-align: center;
  text-wrap: nowrap;
  font-weight: 600;
  font-size: 16px;
  color: #173a56;
}

.sigh-up-btn {
  display: inline-block;
  padding: 9px 24px;
  text-align: center;
  text-wrap: nowrap;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

/* section one */

.section-one {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

.hero-right-side {
  display: flex;
  flex-direction: column;
  padding: 112px 0 112px 0;
  margin-right: 35px;
  width: 465px;
}

.main-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #22343d;
  width: 452px;
  margin-bottom: 18px;
}

.main-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #22343d;
  margin-bottom: 45px;
  width: 465px;
}

.main-btn {
  display: block;
  min-width: 178px;
  height: 53px;
  border: none;
  padding: 15px 42px;
  border-radius: 4px;
  background-color: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.main-list-link {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
}

.triagle::before {
  content: "";
  margin-right: 9px;
  border-radius: 2px;
  fill: #02897a;
  width: 20px;
  height: 18px;
  text-decoration: none;
}

/* section two */
.section-two {
  padding: 100px 0;
}

.container-section-two {
  margin-right: auto;
  margin-left: auto;
}

.title-two {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  text-align: center;
  color: #22343d;
  margin-bottom: 50px;
}

.sec-two-list {
  display: flex;
  gap: 30px;
  margin-bottom: 76px;
}

.sec-two-icon {
  display: flex;
  margin-bottom: 26px;
}

.sec-two-list-item {
  width: calc((100% - 90px) / 4);
}

.tittle-three {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-bottom: 13px;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #22343d;
  width: 255px;
}
